section {min-height:100%; }
#home {}
video.background-video
{
	
	height:100%;
	
}

.arrow-bottom
{    position: absolute;
   
    bottom: 20px;
    left: 50%;
    margin-left: -13px;
 
    text-align: center;
   
}

#contact { 
  background: url(../img/credits.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}